language: php

matrix:
  fast_finish: true
  include:
    - php: 7.2
    - php: 7.1
    - php: 7.0
    - php: 5.6
    - php: 5.5
    - php: 5.4
    - php: 5.3
      dist: precise
    - php: 5.2
      dist: precise
    - env: WP_VERSION=latest
    - env: WP_VERSION=4.0
    - env: WP_MULTISITE=1
  allow_failures:
    - env: WP_MULTISITE=1

notifications:
  email:
    on_success: never
    on_failure: change

branches:
  except:
  - "/^*-v[0-9]/"

before_script:
  - bash bin/install-wp-tests.sh wordpress_test root '' localhost $WP_VERSION

script: phpunit
