<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="test-" suffix=".php">./tests/modules/</directory>
			<directory prefix="test-" suffix=".php">./tests/classes/</directory>
		</testsuite>
	</testsuites>
</phpunit>
